body {
    max-width: 1500px;
    background-color: rgb(51, 51, 51);
    color: rgb(207, 191, 191);
    margin: auto;
    font-family: Verdana;
    justify-content: center;
    text-align: center;
}

.main-container {
    width: 1320px;
    padding: 30px 5px;
    display: block;
    flex-wrap: nowrap;
}

.row-1 {
    display: flex;
    justify-content: space-around;
    margin: 30px 5px;
}

.profile-picture {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

.name-surname {
    font-size: 45px;
    font-style: normal;
    font-weight: bolder;
    position: relative;
}

.role-description {
    font-size: 20px;
    position: relative;
}

.row-1-1 > .row-1-col > img, .row-1-1 > .row-1-col > a > img {
    height: 130px;
    width: auto;
}
.row-1-1 {
    display: flex;
}

.row-1-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.row-2, .row-3 {
    margin: 30px 5px;
}

.row-3  {
    display: flex;
    justify-content: space-evenly;
}

.flag {
    width: 30px;
    height: auto;
}

.technologies {
    width: 780px;
    height: auto;
}

.languages {
    width: 440px;
}

.list-group-item {
    background-color: rgb(51, 51, 51);
    color:rgb(207, 191, 191);
    padding: 20px;
    list-style: none;
    line-height: 45px;
}

.row-3-title, .projects-title {
    font-size: 35px;
    font-weight: bold;
}


/* card styling */

.row-2 > .container {
    display: flex;
    height: 450px;
}

.card {
    width: 150px;
    border-radius: 10%;
    background-size: cover;
    
    cursor: pointer;
    overflow: hidden;
    border-width: 10px;
    margin: 0 20px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    align-items: center;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

#c0.card {
    background-image: url("/static/images_overview.png");
}

/* .card {
    position: relative;
    display: inline-block;
    width: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
} */

.card[for="c0"] {
    background-image: url('./translations.png');
}

.card[for="c1"] {
    background-image: url('./images_overview.png');
}

.card[for="c2"] {
    background-image: url('./synoptics.png');
}

.card[for="c3"] {
    background-image: url('./reminder.png');
}

.card[for="c4"] {
    background-image: url('./questions.png');
}

.card[for="c5"] {
    background-image: url('./tkinter_rysuj2.png');
}

.card-link {
    text-decoration: none;
    color: inherit;
    outline: none;
    margin-top: auto;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.card:not(:hover) .card-link {
    display: none;
}

/* popup settings */

/* popup section copied from internet */
.popup-trigger:hover + .popup .popuptext {
    /* Adjust the styles as needed */
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    height: 150px;
  }


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

.popup-trigger {
    cursor: pointer;
  }
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 1000px;
    height: 150px;
    background-color: #746767;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: 10%;
    margin-left: -80px;
    top: -10px;
  }


  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    height: 150px;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  