{% extends 'base.html' %}
{% load static %}

{% block content %} 
<div class="main-container">
  <div class="row-1">
    <div class="row-1-col">
      <img class="profile-picture" src="{% static 'szymon.jpg' %}">
    </div>
    <div class="row-1-col">
      <div class="name-surname">Szymon Wais</div>
      <div class="role-description">Passionate Developer</div>
    </div>
    <div class="row-1-1">
      <div class="row-1-col">
        <p>Check <br>resume (PDF)</p>
          <a href="{{ pdf_file }}" target="_blank">
            <img src="{% static 'resume_icon.png' %}">
          </a> 
      </div>
      <div class="row-1-col">
        <p>Read <br>about me...<br></p>
          <img class="click-icon popup-trigger" src="{% static 'read.png' %}">
          <div class="popup">
              <span class="popuptext" id="myPopup">
              With two years of experience in Python, Django, and Django REST Framework, I have successfully delivered real-time 
              website using PostgreSQL and docker-compose. You can explore my work here using main projects section. 
              My proficiency extends to mapping software, GML-formatted data, and GIS, backed by an ECDL EPP GIS certificate. 
              Recently I was learning LeafletJS and all kind of stuff nedded to establish map service, which I am currently developing.
              Eagerly I will share my knowledge and experience to create something tremendous!
              </span>
          </div>
      </div>
    </div>
  </div>




  

<!--  -->
<!-- <section class="container main-tenance">
  <div class="maintenance">

        Bałagan w zakresie wyglądu na tej stronie wynika z jej przebudowy. Odniesienia do projektów są aktywne.<br>
          Nered u izgledu ove stranice proizlazi iz njezine rekonstrukcije. Reference na projekte su aktivne.<br>
          Беспорядок в визуальном оформлении этой страницы является следствием ее реконструкции. Ссылки на проекты активны.<br>
          The mess in the appearance of this page is a result of its reconstruction. References to projects are active.<br><br><br>
    </div>

</section> -->

  <div class="projects-title">
    Main projects - check and review code
  </div>
  <div class="row-2">
      <div class="container">
          <input type="radio" name="slide" id="c0" checked>
          <label for="c0" class="card">
            <a href="create_mp3_translations" class="card-link">
            <img class="arrow" src="{% static 'arrow_right.png' %}" alt="">
            <p>Learn languages in Your free time</p>
            </a>
          </label>
          <input type="radio" name="slide" id="c1">
          <label for="c1" class="card">
            <a href="imageupload" class="card-link">
            <img class="arrow" src="{% static 'arrow_right.png' %}" alt="">
            <p>Check API site <br> and try</p>
            </a>
          </label>
        
          <input type="radio" name="slide" id="c2">
          <label for="c2" class="card">
            <a href="weather" class="card-link">
              <img class="arrow" src="{% static 'arrow_right.png' %}" alt="">
              <p>Check API</p>
            </a>
          </label>

          <input type="radio" name="slide" id="c3">
          <label for="c3" class="card">
            <a href="reminder" class="card-link">
              <img class="arrow" src="{% static 'arrow_right.png' %}" alt="">
              <p style="color: white;">Try app</p>
            </a>
          </label>

          <input type="radio" name="slide" id="c4">
          <label for="c4" class="card">
            <a href="https://github.com/waisu88/Projekty/tree/master/TkinterPytania" class="card-link">
              <img class="arrow" src="{% static 'arrow_right.png' %}" alt="">
              <p>Reviev code</p>
            </a>
          </label>
          <input type="radio" name="slide" id="c5">
          <label for="c5" class="card">
            <a href="https://github.com/waisu88/Projekty/tree/master/TkinterRysowanie" class="card-link">
              <img class="arrow" src="{% static 'arrow_right.png' %}" alt="">
              <p>Reviev code</p>
            </a>
          </label>
      </div>
  </div>

  <div class="row-3">
    <div class="technologies">
      <div class="row-3-title">Technologies & abilities</div>
      <ul class="list-abilities list-group">
        <div class="list-group-item">
          <li><b>Python, Django, Django Rest Framework</b></li>
          <li>GIT, SQL, Docker-Compose, GitHub Actions</li>
          <li>JS, HTML&CSS, Celery+Redis, <i><b>=GO</b></i></li>
        </div>
        <div class="list-group-item">
          <li>LeafletJS, GeoDjango, DRF-Gis</li>
          <li>PostgreSQL, PostGis</li>
        </div>
        <div class="list-group-item">
          <li>ECDL EPP GIS, strong geodesy, environmental management</li>
        </div>
        <div class="list-group-item">
          <li>Independent and group work, problem solving</li>
          <li>Resilience & blue-sky thinking</li>
        </div>
      </ul>
    </div>
    <div class="languages">
      <div class="row-3-title">Languages</div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="language-name">
            <img class="flag" src="{% static 'croatia.png' %}">
            <b>Croatian</b>
          </div>
           Pre-Intermediate</li>
        <li class="list-group-item">
          <div class="language-name">
            <img class="flag" src="{% static 'russia.png' %}">
            <b>Russian</b> 
          </div> Pre-Intermediate</li>
        <li class="list-group-item">
          <div class="language-name">
            <img class="flag" src="{% static 'england.png' %}">
            <b>English</b> 
          </div> Advanced</li>
        <li class="list-group-item">
          
          <div class="language-name">
            <img class="flag" src="{% static 'poland.png' %}">
            <b>Polish</b>
          </div>
          Native</li>
      </ul>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN6EdTfwQFjVaU/6Ea80I5ipg5t0pe8+"
  crossorigin="anonymous"></script>
</div>
{% endblock content %}
